@using P04.Models
@model SRBooking

@{
    Layout = "_SingRoomLayout";
    List<dynamic> LstPackageTypes = ViewData["PackageTypes"] as List<dynamic>;
    LstPackageTypes.Insert(0, new { value = "", text = "-- SELECT --" });
    List<dynamic> LstSlots = ViewData["Slots"] as List<dynamic>;
    LstSlots.Insert(0, new { value = "", text = "-- SELECT --" });

    var HoursArray = new[]
    {
        new { value=1, text="One"},
        new { value=2, text="Two"},
        new { value=3, text="Three"}
    };
}

<form class="form-horizontal" asp-action="CreateBooking">
    <div class="form-group">
        <label class="control-label col-sm-3" asp-for="Name">Name : </label>
        <div class="col-sm-5">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="has-error">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    @{ 
        // TODO Task 3e Insert all the validataion message for all fields that require validataion
    }
    <div class="form-group">
        <label class="control-label col-sm-3" asp-for="PackageTypeId">Package Type: </label>
        <div class="col-sm-5">
            <select class="form-control col-sm-4" asp-for="PackageTypeId">
                @foreach (var item in LstPackageTypes)
                {
                    <option value="@item.value">@item.text</option>
                }
            </select>
        </div>
        <!-- Validation message for PackageTypeId -->
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" asp-for="BookingDate">Booking Date: </label>
        <div class="col-sm-3">
            <div class='input-group date' id='BsDateTimePicker'>
                <input class="form-control" asp-for="BookingDate" placeholder="YYYY-MM-DD" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <!-- Validation message for BookingDate -->
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" asp-for="SlotId">Slot: </label>
        <div class="col-sm-3">
            <select id="DrpSlotId" class="form-control col-sm-3" asp-for="SlotId">
                @foreach (var item in LstSlots)
                {
                    <option value="@item.value">@item.text</option>
                }
            </select>
        </div>
        <!-- Validation message for SlotId -->
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" asp-for="Hours">Number of Hours : </label>
        <div class="col-sm-4">
            @foreach (var item in HoursArray){
                <input type="radio" asp-for="Hours" value="@item.value" /> @item.text
            }
        </div>
        <!-- Validation message for Hours -->
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Add On : </label>
        <div class="col-sm-5">
            <label asp-for="AOSnack" class="checkbox-inline">
                <input type="checkbox" asp-for="AOSnack" />Snack
            </label>
            <label asp-for="AODrink" class="checkbox-inline">
                <input type="checkbox" asp-for="AODrink" />Drink
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>
